/*
                   *               ---->   Style Kasa platform   <----                       *
                   *    Part I - Generic styling (font, layouts, template components...)     *
                   *    Part II - Styling for a specific page                                *
                   *    Part III - Media queries                                             *
*/

/* 
Part I - Generic styling -
*/

/*Font*/
@font-face {
    font-family: "Montserrat";
    src: url(./../src/Assets/Fonts/montserratRegular.ttf);
}

/*Layout*/
body {
    font-family: "Montserrat", sans-serif;
    margin: 0;
    color: #FF6060;
    overflow-x: hidden;
}

.wrapper {
    box-sizing: border-box;
    margin: 0 auto;
    max-width: 1400px;
    padding: 0 100px;
}

header .wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 40px;
    padding-bottom: 60px;
}

header img {
    height: 68px;
}

nav ul {
    list-style-type: none;
    display: flex;
}

nav li:last-child {
    padding-left: 60px;
}

nav li a {
    text-decoration: none;
    font-size: 24px;
    color: #FF6060;
}

nav a.active {
    border-bottom: 2px #FF6060 solid;
}

footer {
    background-color: black;
    text-align: center;
}

footer img {
    padding-top: 66px;
    padding-bottom: 28px;
}

footer p {
    font-size: 24px;
    color: white;
    margin: 0;
    padding-bottom: 30px;
}

/*Banner component */
.banner {
    width: 100%;
    height: 200px;
    position: relative;
    border-radius: 25px;
    overflow: hidden;
}

.banner h1 {
    color: white;
    position: absolute;
    top: 30%;
    left: 50%;
    bottom: 30%;
}

.banner img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/*Slideshow component */
.slideshow-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.style {
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.carousel {
    width: 100%; 
    overflow: hidden; 
    border-radius: 25px;
}

.carousel-inner {
    width: 100%;
    white-space: nowrap;
    transition: ease 1s;
    display: flex;
    scroll-behavior: unset;
}

.carousel-item {
    opacity: 1;
    display: inline-block;
    width: 100%;
    height: 415px;
    min-width: calc(100vw - (100vw - 100%));
    background-size: cover;
    background-position: center;
}

.carousel-item img {
    box-sizing: border-box;
    display: inline-block;
}

.carousel-control {
    background-color: transparent;
    border: none;
    display: inline-block;
    cursor: pointer;
}

.carousel-icon {
    width: 40px;
}

.carousel-counter{
    position: absolute;
    color: white;
    text-align:end ;
    z-index: 3;
    bottom: 10px;
}

/*Card component */
.card a {
    text-decoration: none;
    font-size: 16px;
    color: #FF6060;
}

.card article {
    border-radius: 10px;
    height: 300px;
    overflow: hidden;
    position: relative;
}

.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card h2 {
    font-size: 16px;
    color: white;
    border: red solid 2px;
    position: absolute;
    top: 145px;
}


/*Collapsible component */
.collapsible {
    padding-bottom: 30px;
    width: 100%;
}

.collapsible-button-label {
    all: unset;
    width: 100%;
    height: 52px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color:white;
    background-color: #FF6060;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
    box-sizing: border-box;
    padding-left: 20px;
}

.collapsible-button-icon {
    height: 30px;
    width: 25px;
    padding-right: 12px;
}

.collapsible-button-content {
    background: #F7F7F7;
}

.collapsible-button-content p {
    font-size: 18px;
    margin: 0;
    padding: 30px 15px 10px 10px;
    line-height: 25px;
}

.collapsible-button-content p ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}


/* 
Part II - Page-specific styling -
*/

/*Home Page */

.home-content section .wrapper {
    padding-top: 50px;
    padding-bottom: 50px;
}

.home-content section ul {
    border-radius: 25px;
    margin: 0;
    background-color: #F7F7F7;
    padding: 60px 30px;
    list-style-type: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 50px;
    grid-row-gap: 50px;
}


/*About Page */

.about-content section .wrapper {
    box-sizing: border-box;
    padding: 40px 200px;
}



/*Not Found Page */

.not-found-content section .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 160px;
}

.not-found-content section h1 {
    font-size: 288px;
    margin: 0;
    padding-bottom: 66px;
}

.not-found-content section h2 {
    font-size: 36px;
    margin: 0;
    padding-bottom: 182px;
}

.not-found-content section a {
    text-decoration: none;
    font-size: 18px;
    color: #FF6060;
    border-bottom: 2px #FF6060 solid;
}


/*Accommodation Page */

.accommodation-content h1 {
    padding-top: 30px;
    padding-bottom: 5px;
    font-size: 36px;
    margin: 0;
}

.accommodation-content h2 {
    padding-bottom: 20px;
    font-size: 18px;
    margin: 0;
}

.accommodation-content .flex-row-or-column-container {
    display: flex;
    justify-content: space-between;
}

.flex-row-container {
    display: flex;
    justify-content: space-between;
}

.flex-column-container {
    display: flex;
    flex-direction: column;
}

.host-container {
    padding-bottom: 30px;
}

.host-name {
    width: 4px;
    border: 2px solid black;
    margin: 0;
    padding-right: 30px;
    border-left: 30px;
}

.host-image-container{
    border-radius: 50%;
    height: 64px;
    overflow: hidden;
}

.host-image-container img {
    object-fit: cover;
    width: 64px;
}

.tags-container{
    display: flex;
    gap: 30px;
}

.tags-container p {
    font-size: 14px;
    border-radius: 10px;
    background-color: #FF6060;
    color: white;
    padding: 3px 22px 2px 22px;
}

.rating-stars {
    height: 30px;
    width: 196px;
    display: flex;
}


/* 
Part III - Media Queries -
*/

/*Screens between 769 and 992*/
@media only screen and (max-width: 992px) {

    .carousel-item {
        max-height: 350px;
    }

    .home-content section ul {
        grid-template-columns: 1fr 1fr;
    }


    .not-found-content section h1 {
        font-size: 180px;
        padding-top: 30px;
        padding-bottom: 20px;
    }

    .not-found-content section h2 {
        font-size: 23px;
    }

    .not-found-content section a {
        font-size: 18px;
    }
}

/*Screens of 768 pixels and below*/
@media only screen and (max-width: 768px) {

    .wrapper {
        padding: 0 20px;
    }

    header .wrapper {
        padding-top: 20px;
        padding-bottom: 30px;
    }


    header img {
        height: 43px;
    }
    
    nav li a {
        font-size: 12px;
        text-transform: uppercase;
    }

    nav li:last-child {
        padding-left: 20px;
    }


    footer p {
        font-size: 12px;
        padding-bottom: 62px;
    }

    footer img {
        padding-top: 62px;
        padding-bottom: 30px;
        height: 39px;
    }

    .banner {
        height: 130px;
        border-radius: 10px;
    }

    .collapsible {
        padding-bottom: 20px;
    }

    .collapsible-button-label {
        height: 30px;
        font-size: 13px;
        line-height: 18.54px;
        padding-left: 12px;
    }

    .collapsible-button-icon {
        width: 13px;
        height: 20px;
        padding-right: 7px;
    }

    .collapsible-button-content {
        font-size: 12px;
    }

    .collapsible-button-content p {
        padding: 10px 15px 10px 10px;
        line-height: 17px;
    }

    

    .carousel {
        border-radius: 10px;
    }


    .carousel-item {
        max-height: 250px;
    } 

    .carousel-icon {
        width: 15px;
    }
    
    


    .home-content section .wrapper {
        padding-top: 0px;
        padding-bottom: 20px;
    }

    .home-content section ul {
        grid-template-columns: 1fr;
        padding: 20px 0px;
        background-color: white;
        grid-row-gap: 20px;

    }

    .about-content section .wrapper {
        padding: 20px 20px;
    }




    .not-found-content section h1 {
        font-size: 96px;
        padding-top: 150px;
        padding-bottom: 11px;
    }
             
    .not-found-content section h2 {
        font-size: 18px;
        padding-bottom: 133px;
    }

    .not-found-content section a {
        font-size: 14px;
    }



    .accommodation-content h1 {
        font-size: 18px;
        line-height: 142.6%;
        padding-top: 15px;
        padding-bottom: 10px;
    }

    .accommodation-content h2 {
        font-size: 14px;
        padding-bottom: 0;
    }

    .accommodation-content .flex-container {
        display: flex;
        flex-direction: column;
    }

    .host-name {
        font-size: 12px;
        line-height: 142.6%;
    }

    .host-image-container {
        height: 32px;
    }

    .host-image-container img {
        width: 32px;
    }

    .tags-container {
        gap: 10px;
    }

    .tags-container p {
        text-align: center;
        min-width: 84px;
        font-size: 10px;
        padding: 4px 5px;
        border-radius: 5px;
    }

    .rating-stars {
        height: 15px;
        width: 98px;
        display: flex;
    }
}