/*
                   *               ---->   Style Kasa platform   <----                       *
                   *    Part I - Generic styling (font, layouts, template components...)     *
                   *    Part II - Styling for a specific page                                *
                   *    Part III - Media queries                                             *
*/

/* 
Part I - Generic styling -
*/

/*Montserrat Font*/

/*Regular*/
@font-face {
    font-family: "Montserrat";
    src: url(./../src/Assets/Fonts/montserratRegular.ttf);
    font-weight: 400;
    font-style: normal;
}

/*Montserrat Medium*/
@font-face {
    font-family: "Montserrat";
    src: url(./../src/Assets/Fonts/montserratMedium.ttf);
    font-weight: 500;
    font-style: normal;
}

/*Montserrat Bold*/
@font-face {
    font-family: "Montserrat";
    src: url(./../src/Assets/Fonts/montserratBold.ttf);
    font-weight: 700;
    font-style: normal;
}

/*Layout*/

* {
    font-weight: 500;
}

body {
    font-family: "Montserrat", sans-serif;
    margin: 0;
    color: #FF6060;
    overflow-x: hidden;
}

.wrapper {
    box-sizing: border-box;
    margin: 0 auto;
    max-width: 1400px;
    padding: 0 80px;
}

header .wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 40px;
    padding-bottom: 60px;
}

header img {
    height: 68px;
}

nav ul {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
}

nav li:last-child {
    padding-left: 60px;
}

nav li a {
    text-decoration: none;
    font-size: 24px;
    color: #FF6060;
}

nav a.active {
    border-bottom: 2px #FF6060 solid;
}

footer {
    background-color: black;
    text-align: center;
}

footer img {
    padding-top: 66px;
    padding-bottom: 28px;
}

footer p {
    font-size: 24px;
    color: white;
    margin: 0;
    padding-bottom: 30px;
}

/*Banner component */
.banner {
    width: 100%;
    height: 223px;
    position: relative;
    border-radius: 25px;
    background-position: center center;
    background-size: cover;       
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner-overlay {
    width: 100%;
    height: 100%;
    mix-blend-mode: darken;
    opacity: 0.3;
    position: absolute;
    background-color: black;
    z-index: 1;
    border-radius: 25px;
}

.banner h1 {
    font-size: 48px;
    color: white;
    z-index: 2;
    padding: 16px;
}

/*Slideshow component */
.slideshow-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.slideshow-button-container {
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.slideshow-image-container {
    width: 100%; 
    overflow: hidden; 
    border-radius: 25px;
}

.slideshow-slider {
    width: 100%;
    white-space: nowrap;
    transition: ease 1s;
    display: flex;
    scroll-behavior: unset;
}

.slideshow-image {
    opacity: 1;
    display: inline-block;
    width: 100%;
    height: 415px;
    min-width: calc(100vw - (100vw - 100%));
    background-size: cover;
    background-position: center;
}

.slideshow-image img {
    box-sizing: border-box;
    display: inline-block;
}

.slideshow-button {
    background-color: transparent;
    border: none;
    display: inline-block;
    cursor: pointer;
    padding: 0 23px;
}

.slideshow-arrow {
    width: 48px;
}

.slideshow-counter{
    font-size: 18px;
    position: absolute;
    color: white;
    text-align:end ;
    z-index: 3;
    bottom: 10px;
}

/*Card component */
.card a {
    text-decoration: none;
    font-size: 16px;
    color: #FF6060;
}

.card article {
    border-radius: 10px;
    height: 340px;
    position: relative;
    background-size: cover;
    background-position: center center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.card article .card-overlay {
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
    border-radius: 10px;
    z-index: 1;
    width: 100%;
    height: 100%;
    position: absolute;
}

.card .title-wrapper {
    padding:0px 20px 0px 20px;
    margin-bottom: 10px;
    height: 52px;
    z-index: 2;
    overflow: hidden;
}

.card h2 {
    font-size: 16px;
    color: white;
    z-index: 2;
    margin: 0px;
    font-size: 18px;
    line-height: 26px;
}

/*Collapsible component */
.collapsible {
    padding-bottom: 30px;
    width: 100%;
    overflow: hidden;
    height: 100%;
}

.collapsible-close-height {
    height: 52px;
}

.collapsible-button-label {
    all: unset;
    width: 100%;
    height: 52px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color:white;
    background-color: #FF6060;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
    box-sizing: border-box;
    padding-left: 20px;
    padding-right: 12px;
    position: relative;
    z-index: 2;
}

.collapsible-button-icon {
    height: 30px;
    width: 25px;
    transition: transform 0.2s linear;
    transform: rotate(0deg);
}

.rotate-open {
    transform: rotate(180deg);
    transition: transform 0.2s linear;
}

.collapsible-button-content {
    background: #F7F7F7;
    border-radius: 0 0 10px 10px;
    transform: translateY(calc((100%) * -1));
    transition: transform 0s ease;
}

.content-open {
    transform: translateY(0px);
    transition: transform 0.2s ease;
}

.collapsible-button-content p {
    font-size: 18px;
    font-weight: 400;
    margin: 0;
    padding: 30px 15px 10px 10px;
    line-height: 25px;
}

.collapsible-button-content p ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}


/* 
Part II - Page-specific styling -
*/

/*Home Page */

.home-content section .wrapper {
    padding-top: 50px;
    padding-bottom: 50px;
}

.home-content section ul {
    border-radius: 25px;
    margin: 0;
    background-color: #F7F7F7;
    padding: 55px 30px;
    list-style-type: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 50px;
    grid-row-gap: 50px;
}


/*About Page */

.about-content section .wrapper {
    box-sizing: border-box;
    padding: 40px 200px;
}



/*Not Found Page */

.not-found-content section .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 160px;
}

.not-found-content section h1 {
    font-size: 288px;
    font-weight: 700;
    margin: 0;
    padding-bottom: 66px;
}

.not-found-content section h2 {
    font-size: 36px;
    margin: 0;
    padding-bottom: 182px;
}

.not-found-content section a {
    text-decoration: none;
    font-size: 18px;
    color: #FF6060;
    border-bottom: 2px #FF6060 solid;
}


/*Accommodation Page */

.accommodation-content h1 {
    padding-top: 10px;
    padding-bottom: 5px;
    font-size: 36px;
    margin: 0;
}

.accommodation-content h2 {
    padding-bottom: 20px;
    font-size: 18px;
    margin: 0;
}

.basic-information {
    display: flex;
    justify-content: space-between;
    padding-top: 15px;
}

.flex-row-container {
    display: flex;
    justify-content: space-between;
}

.flex-column-container {
    display: flex;
    flex-direction: column;
}

.host-profile {
    display:flex;
    justify-content: flex-end;
    align-items:center;
    padding-bottom: 15px;
}

.host-name {
    font-size: 18px;
    line-height: 25.5px;
    width:  50px; 
    text-align: right;
    display: flex;
    justify-content: flex-end;
    margin-right: 10px;
}

.host-image-container{
    border-radius: 50%;
    height: 64px;
    overflow: hidden;
}

.host-image-container img {
    object-fit: cover;
    width: 64px;
}

.tags-container {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 24px;
}

.tags-container p {
    font-size: 14px;
    border-radius: 10px;
    background-color: #FF6060;
    color: white;
    padding: 3px 22px 2px 22px;
    white-space: nowrap;
    margin: 0 10px 5px 0;
}

.secondary-information {
    display: flex;
    flex-direction: column;
}

.rating-stars {
    height: 30px;
    width: 196px;
    display: flex;
}


/* 
Part III - Media Queries -
*/

/*Screens between 769 and 992*/
@media only screen and (max-width: 992px) {

    /* Layout */
    .wrapper {
        padding: 0 50px;
    }

    /* Home page */
    .home-content section ul {
        grid-template-columns: 1fr 1fr;
    }

    /* Not found page */
    .not-found-content section h1 {
        font-size: 180px;
        padding-top: 30px;
        padding-bottom: 20px;
    }

    .not-found-content section h2 {
        font-size: 23px;
    }

    .not-found-content section a {
        font-size: 18px;
    }

    /* Accommodation page */

    .basic-information {
        flex-direction: column;
    }

    .secondary-information {
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;
    }
}

/*Screens of 768 pixels and below*/
@media only screen and (max-width: 768px) {

    /* Layout */
    .wrapper {
        padding: 0 20px;
    }

    header .wrapper {
        padding-top: 20px;
        padding-bottom: 30px;
    }


    header img {
        height: 43px;
    }
    
    nav li a {
        font-size: 12px;
        text-transform: uppercase;
    }

    nav li:last-child {
        padding-left: 10px;
    }

    footer p {
        font-size: 12px;
        padding-bottom: 62px;
    }

    footer img {
        padding-top: 62px;
        padding-bottom: 30px;
        height: 39px;
    }

    /* Banner component */
    .banner {
        height: 111px;
        border-radius: 10px;
        justify-content: flex-start;
    }

    .banner-overlay {
        border-radius: 10px;
    }

    .banner h1 {
        font-size: 24px;
    }

    /* Collapsible component */

    .collapsible {
        padding-bottom: 20px;
    }

    .collapsible-close-height {
        height: 30px;
    }

    .collapsible-button-label {
        height: 30px;
        font-size: 13px;
        line-height: 18.54px;
        padding-left: 12px;
        padding-right: 7px;
    }

    .collapsible-button-icon {
        width: 13px;
        height: 20px;
    }

    .collapsible-button-content {
        font-size: 12px;
        border-radius: 0 0 5px 5px;
    }

    .collapsible-button-content p {
        font-size: 12px;
        padding: 15px 15px 10px 10px;
        line-height: 17px;
    }


    /* Slideshow component */
    
    .slideshow-image-container {
        border-radius: 10px;
    }

    .slideshow-button {
        padding: 0 5px;
    }


    .slideshow-image {
        height: 255px;
    } 

    .slideshow-arrow {
        width: 15px;
    }

    .slideshow-counter {
        display: none;
    }


    /* Card component */
    
    .card article {
        height: 255px;
    }
    
    
    /* Home page */

    .home-content section .wrapper {
        padding-top: 0px;
        padding-bottom: 20px;
    }

    .home-content section ul {
        grid-template-columns: 1fr;
        padding: 20px 0px;
        background-color: white;
        grid-row-gap: 20px;

    }


    /* About page */
    
    .about-content section .wrapper {
        padding: 20px 20px;
    }

    .about-content .banner {
        height: 223px;
    }


    /* Not found page */

    .not-found-content section h1 {
        font-size: 96px;
        padding-top: 150px;
        padding-bottom: 11px;
    }
             
    .not-found-content section h2 {
        font-size: 18px;
        padding-bottom: 133px;
    }

    .not-found-content section a {
        font-size: 14px;
    }


    /* Accommodation page */

    .accommodation-content h1 {
        font-size: 18px;
        line-height: 142.6%;
        padding-top: 15px;
        padding-bottom: 10px;
    }

    .accommodation-content h2 {
        font-size: 14px;
        padding-bottom: 0;
        margin-bottom: 24px;
    }

    .basic-information {
        flex-direction: column;
        padding-top: 0px;
    }

    .secondary-information {
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;
    }

    .host-profile {
        padding-bottom: 0;
    }

    .host-name {
        font-size: 12px;
        line-height: 142.6%;
    }

    .host-image-container {
        height: 32px;
    }

    .host-image-container img {
        width: 32px;
    }

    .tags-container {
        padding-bottom: 0;
    }

    .tags-container p {
        text-align: center;
        min-width: 84px;
        font-size: 10px;
        padding: 4px 5px;
        border-radius: 5px;
    }

    .rating-stars {
        height: 15px;
        width: 98px;
        display: flex;
    }
}